@model EmployeeViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>EmpId</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model.Employees)
        {
            <tr>
                <td>@emp.Id</td>
                <td>@emp.Name</td>
                <td>@emp.Email</td>
                <td>@emp.Department</td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
    <script src="~/js/MyCustomJavaScript.js"></script>
}