@model List<Employee>
@{
    ViewData["Title"] = "All Employees";
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>EmpId</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Id</td>
                <td>@emp.Name</td>
                <td>@emp.Email</td>
                <td>@emp.Department</td>
            </tr>
        }
    </tbody>
</table>
